.ral-pallette {
    right: 1em;
    bottom: 1em;
    width: 300px;
    height: 300px;
    position: absolute;
    perspective: 1000px;
}

.center-circle {
    --size: 60px;
    --button-size: calc(var(--size) / 2 - 10px);
    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    background-color: #ccc;
    border-radius: 50%;
    z-index: 23;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-circle button {
    width: var(--button-size);
    height: var(--button-size);
    background-color: #;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.center-circle button:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.center-circle button:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ral-color {
    width: 150px;
    height: 75px;
    position: absolute;
    left: 50%;
    transform-origin: left center;
    z-index: 1;
}

.ral-color:hover {
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.colorName {
    position: absolute;
    left: 2px;
    bottom: 2px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
}