#root {
    max-width: 1280px;
    margin: auto;
    padding: 2rem;
    text-align: center;
}

.box {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    perspective: 1000px;
}

.center-circle {
    --size: 110px;
    --button-size: calc(var(--size) / 2 - 10px);

    position: absolute;
    top: calc(50% - var(--size) / 2);
    left: calc(50% - var(--size) / 2);
    width: var(--size);
    height: var(--size);
    background-color: #ccc;
    border-radius: 50%;
    z-index: 9999;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center-circle button {
    width: var(--button-size);
    height: var(--button-size);
    background-color: #;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.center-circle button:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.center-circle button:last-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ral {
    width: 300px;
    height: 150px;
    position: absolute;
    left: 50%;
    transform-origin: left center;
    z-index: 1;
}

.ral:hover {
    z-index: 2;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .box {
        width: 400px;
    }
}

.colorName {
    position: absolute;
    left: 2px;
    bottom: 2px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
}

.input-modern {
    width: 80%;
    max-width: 50%;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

.input-modern:focus {
    border-color: #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}